TALKHEAD_SERVER_ENDPOINT=http://localhost:8000
SCORING_SERVER_ENDPOINT=http://localhost:8100
MINER_SERVER_ENDPOINT=http://localhost:9000
CLOUDFLARE_R2_BUCKET=
CLOUDFLARE_R2_ACCOUNT_ID=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_PUBLIC_BASE_URL=