# For validators
TALKHEAD_SERVER_ENDPOINT=http://localhost:8000/challenge
SCORING_SERVER_ENDPOINT=http://localhost:8100/score
DENDRITE_TIMEOUT=120

# For miners
MINER_SERVER_ENDPOINT=http://localhost:9000/generate
CLOUDFLARE_R2_BUCKET=
CLOUDFLARE_R2_ACCOUNT_ID=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_PUBLIC_BASE_URL=