starlette==0.50.0
pydantic==2.12.4
rich==14.2.0
pytest==9.0.1
torch==2.0.0
torchvision==0.15.1
torchaudio==2.0.1
numpy==1.23.4
setuptools==80.9.0
fastapi==0.122.0
uvicorn==0.38.0
pillow==10.0.0
requests==2.32.5
gtts==2.5.4
ffmpeg==1.4
imageio==2.37.0
imageio-ffmpeg==0.6.0